 <main>
    <div class="container">
        <img src="../../assets/images/logo.jpeg" width="100px" height="100px"/>
        <div class="comingsoon">
            <span class="tag reveal">
                <h2 style="">Unicredit Cooperative Society Ltd.</h2>
        <h3  style="">24, Opaha Crescent, Kubwa, Abuja, FCT</h3>
        <h4 style="">Tel: 08146013468
            E-Mail: info@unicreditcoop.com</h4>
                <h1>
                    Our website is
                </h1>
            </span>
            <!-- <img src="../../assets/images/comingsoon.png" width="600px" height="300px"/> -->
            <h1  class="cs">
                Coming <i>soon<span>.</span></i>
            </h1>
            <form>
                <h1 class="reveal">Click the button <i>below</i> to apply Online!</h1>

                <div class="submit"> 
                    <button (click)="gotoURL()" type="button">apply</button>
                </div>
                
            </form>
            <!-- <div class="social-icons reveal">
                <span> - Stay in touch</span>
                <br/>
                <a href="#"><i class="icon fa-brands fa-facebook-f"></i></a>
                <a href="#"><i class="icon fa-brands fa-twitter"></i></a>
                <a href="#"><i class="icon fa-brands fa-google-plus-g"></i></a>
                <a href="#"><i class="icon fa-solid fa-basketball"></i></a>

            </div> -->
        </div>
    </div>
</main>