<main>
    <div class="container">
        <img src="../../assets/images/logo.jpeg" width="100px" height="100px"/>
        <div class="comingsoon">
            <span class="tag reveal">
                <h2 style="">Unicredit Cooperative Society Ltd.</h2>
        <h3  style="">24, Opaha Crescent, Kubwa, Abuja, FCT</h3>
        <h4 style="">Tel: 08146013468
            E-Mail: info@unicreditcoop.com</h4>
                 
            </span>
            <!-- <img src="../../assets/images/comingsoon.png" width="600px" height="300px"/> -->
            <h1  class="cs">
                Thank <i>YOU<span>.</span></i>
            </h1>  
                <div class="submit"> 
                    <button (click)="goApplication()" type="button">apply again</button>
                </div>
                
              
        </div>
    </div>
</main>